@import url(./font.css);

* {
  margin: 0;
  padding: 0;
  color: #e8e4e4;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  font-family: "body";
}
.hide {
  display: none;
}
h2 {
  font-size: 2.2rem;
  font-weight: 800;
}
h4 {
  font-size: 2rem;
  font-weight: 600;
}
h5 {
  font-size: 1.8rem;
  font-weight: 500;
}
button {
  cursor: pointer;
}
/*! Navbar CSS */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #000;
  z-index: 10;
}

li {
  list-style-type: none;
}
a {
  text-decoration-line: none;
}
.navbar {
  width: 100%;
  height: 4rem;
  padding-inline: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-family: "logo";
  color: #f1ff9d;
  font-weight: 900;
  font-size: 2.5rem;
}

.main-menu a,
.menu-text a {
  padding: 15px 20px;
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-text a,
.menu-text i {
  border-radius: 10px;
  background-color: #f1ff9d;
  color: #000;
}
#active-sidebar {
  display: none;
}
.open-sidebar,
.close-sidebar {
  display: none;
}
/*! Close Navbar CSS */
/*! hero section CSS */
.container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-detail {
  font-family: "hero";
  padding: 120px 0 150px;
  width: 50%;
  margin-left: 10%;
}
.about-self {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.name {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  display: inline-block;
  text-transform: capitalize;
  background: #f1ff9d;
  border-radius: 5px;
  transition: all 0.5s;
  color: #000;
}
h1 {
  font-size: 5rem;
}
.dev {
  color: #f1ff9d;
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  margin-right: 5px; /* Optional: Space between words */
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.hire-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  font-size: 30px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  span,
  i {
    color: #f1ff9d;
  }
}

.hero-img {
  width: 40%;
  img {
    width: 100%;
    border-radius: 4rem;
  }
}

/*! close hero section CSS */
/*! Side Social link section CSS */
.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-rightinfo {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  gap: 2rem;
}

.down-arrow {
  position: relative;
  transform: rotate(90deg);
  margin-bottom: 1rem;
}
.down-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-ac {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  i {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
  }
  .ld,
  .fb {
    background-color: blue;
  }
  .fb {
    padding-inline: 12px;
  }
  .tx {
    background-color: #000;
  }
  .ig {
    background: linear-gradient(#f9ce34, #ee2a7b, #6228d7);
  }
}
/*! Side Social link section CSS */
/*! about section CSS */
.about-section {
  margin: 1.5rem;
}
.container2 {
  width: 100%;
  height: auto;
}
.project-head {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}
.p-head {
  font-size: 24px;
  font-family: "Caveat", cursive;
  color: #fff;
  position: relative;
  display: inline-block;
  margin: 0 auto 30px;
  font-weight: 600;
  transition-property: opacity, transform;
  &::before {
    top: 100%;
    left: 0;
    width: 2px;
    height: 2px;
    background: #f1ff9d;
    color: #fff;
    animation: bedt 10s linear infinite;
  }
  &::after,
  ::before {
    position: absolute;
    content: "";
  }
}

.about-me {
  width: 85%;
  margin: auto;
}
.row-about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.col-about {
  width: 60%;
  margin-right: 50px;
  h5 {
    margin-bottom: 22px;
    border-bottom: 1px solid #fff;
    display: inline-block;
  }
}

.row-about-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.about-one p {
  margin-block: 2rem;
  max-width: 740px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}
.per-info {
  font-size: 1.2rem;
}

.info-list {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem !important;
  .sr-tag {
    width: 120px;
  }
}

.review {
  width: 130px;
  height: 60px;
  border: 2px solid white;
  padding: 15px 10px;
  margin-block: 20px;
}

.col-img {
  width: 40%;
  .col-2 {
    width: 100%;
    img {
      width: 100%;
      border-radius: 4rem;
    }
  }
}
/*! close about section CSS */
/*! Skill & Experience section CSS */
.skill-section,
.ex-section {
  width: 100%;
  padding-block: 50px;
}
.skills,
.experence {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ex-head {
  width: 100%;
  h5 {
    margin-bottom: 22px;
    display: inline-block;
  }
}

.row-exp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.ex-col1 {
  width: 40%;
}
.ex-colimg {
  width: 100%;
  img {
    width: 100%;
    border-radius: 4rem;
  }
}

.ex-col2 {
  flex: 0 0 auto;
  width: 40%;
}
.ex-skill {
  h2 {
    margin-bottom: 20px;
    font-family: "hero";
  }
  p {
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
  }
}
.ex-box {
  margin: 1.5rem;
}
.skill-row,
.exp-row {
  display: grid;
  grid-template-columns: auto auto;
}
.skill-col {
  width: 50%;
  padding: 20px;
  line-height: 3;
  img {
    width: 30%;
  }
  i {
    font-size: 4rem;
  }
  h4 {
    font-family: "Kanit", sans-serif;
  }
}
.css {
  color: #6228d7;

  border-radius: 1rem;
}
.jscript {
  color: #f9ce34;
}

.exp-col {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  line-height: 2;
  h4 {
    line-height: 130%;
  }
  p {
    font-size: 16px;
  }
}
/*! close Skill & Experience section CSS */
/*! Education section CSS */
.education-section {
  width: 100%;
}
.my-education {
  width: 85%;
  margin: 50px auto;
}

.edu-head {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 22px;
}
.edu-info {
  width: 100%;
  display: flex;
  margin-block: 50px;
}
.education {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
.align-1 {
  width: 70%;
  border-radius: 15px;
  &:hover {
    box-shadow: -5px 0 #f1ff9d;
  }
}

.align-2 {
  width: 30%;
}

.course-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  p {
    font-size: 1rem;
  }
}

.college {
  line-height: 2;
  margin-bottom: 20px;
  p {
    font-size: 1rem;
  }
}
.course-duration span {
  font-size: 36px;
  font-weight: 500;
}

.my-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "hero";
  }
}

.projects {
  width: 85%;
  margin: auto;
}

.tab-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 50px;
}

.tab-Btns {
  background-color: #000;
  border: none;
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  &.active {
    color: #000;
    background-color: #f1ff9d;
  }
}

.tab-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  overflow: hidden;
}

.web-shot {
  width: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.5s ease-out;
  &:hover {
    transform: scale(0.95);
    .shot-info {
      display: block;
    }
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
}
.shot-info {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, #f1ff9d96, #000000ad, #f1ff9d96);
  border-radius: 10px;
  display: none;
  cursor: pointer;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 100px;
  }
}

.project-meeting {
  width: 85%;
  margin: 50px auto;
}

.lets-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lets-info {
  width: 50%;
}
.lets-row {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.meeting {
  span {
    font-family: "hero";
    font-size: 20px;
  }
  h2 {
    margin-block: 30px;
  }
}

.lets-img {
  width: 50%;
}

.img-meeting {
  width: 100%;
  img {
    width: 100%;
    border-radius: 4rem;
  }
}

.contact-me {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.icon-box i {
  font-size: 20px;
  color: #000;
  background-color: #f1ff9d;
  padding: 20px;
  border-radius: 50%;
}

.cont-me {
  font-size: 20px;
  line-height: 1.5;
}

.footer-section {
  width: 100%;
  height: auto;
  padding-block: 50px;
}

.container3 {
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.foot-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}

.logo-info,
.form {
  width: 30%;
}

.link,
.address {
  width: 20%;
}

.logo-2 h1 {
  font-family: "logo";
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.logo-msg p {
  color: #999999;
  font-size: 16px;
  font-weight: 500;
}

.link-click {
  line-height: 2;
  a {
    color: #999999;
  }
}

.link h5,
.adds h5 {
  margin-bottom: 30px;
}

.cont-info {
  display: flex;
  flex-direction: column;
}
.addrs {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin-block: 10px;
  i,
  p {
    color: #999999;
  }
}

.form {
  text-align: left;
  line-height: 2;
  padding-inline: 20px;
  input,
  textarea,
  button {
    width: 200px;
    color: #999999;
    background-color: #000;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  button {
    text-align: center;
  }
}

.footer-bottom {
  width: 100%;
  margin-block: 50px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  p {
    font-size: 20px;
    font-weight: 500;
  }
}
